{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<div class="reg_form">
<form action="" method="post" class="form-contact">
<div class="reg_list">
<input type="text" name="username" placeholder="Login" value="" requied /></p>
<input type="password" name="psw" placeholder="Password" value="" requied /></p>
</div>
<p><input type="checkbox" name="remainme" /> Запомнить меня
<div class="sig_p" style='margin: 0 80px'>
<p><input type="submit" value="Log In" /></p>
</div>
<div style='margin: 0 80px'>
<p><a href="/registration">Sign Up</a></p>
</div>
<div style='margin: 0 35px'>
Return on <a href="/">main</a> page
</div>
</form>
</div>
{% endblock %}