<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title -%}
    {% if title %}
            <title>Casper - {{title}}</title>
    {% else %}
            <title>Casper - Главная страница</title>
    {% endif %}
    {% endblock %}
</head>
<body>
    {% block content -%}
        <div class="clear"></div>
        <div class="content">
         {% if title -%}
            <h1>{{title}}</h1>
         {% else -%}
            <h1>Casper</h1>
         {% endif -%}
    {% endblock -%}
</body>
</html>