{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<div class="reg_form">
<form action="/registration" method="post" class="form-contact">
<div class="reg_list">
<p><input type="text" name="username" placeholder="Login" value="" requied /></p>
<p><input type="text" name="mail" placeholder="E-mail" value="" requied /></p>
<p><input type="password" name="psw" placeholder="Password" value="" requied /></p>
<p><input type="password" name="r_psw" placeholder="Repeat password" value="" requied /></p>
</div>
<div class="sig_p" style='margin: 0 80px'>
<p class="sign"><input type="submit" value="Sign Up" /></p>
</div>
<div class="ret_p" style='margin: 0 40px'>
Return on <a href="/">main</a> page
</div>
</form>
</div>
{% endblock %}