{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<form action="/test/<username>" method="post" class="form-contact">
User: {{username}}</p>
You are logged in, return on <a href="/">main</a> page</p>
<a href="/logout">Log Out</a>
{% endblock %}